@font-face {
  font-family: 'Falcon Punch';
  src: url('../fonts/falconpunch.ttf') format('truetype');
}
@font-face {
  font-family: 'Neutronium';
  src: url('../fonts/Neutronium.ttf') format('truetype');
}
@font-face {
  font-family: 'Hurt Mold';
  src: url('../fonts/Hurtmold.ttf') format('truetype');
}
